<div class="container main-container">
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="row">
    <% @tools.each do |tool| %>
      <div class="card-product m-2">
      <img src="https://source.unsplash.com/500x400/?tool" />
        <div class="card-product-infos">
          <h2><%= tool.name %></h2>
          <p><%= link_to tool.name, tool_path(tool) %> | <%= tool.category %> | <%= tool.description %></p>
          <% if current_user  %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
