<div class="container">
  <div class="row">
      <% @tools.each do |tool| %>
        <div class="card-product">
        <img src="https://source.unsplash.com/500x400/?tool" />
          <div class="card-product-infos">
            <h2><%= tool.name %></h2>
            <p><%= link_to tool.name, tool_path(tool) %> | <%= tool.category %> | <%= tool.description %></p>
            <% if current_user  %>
            <%= link_to 'Add a new tool', new_tool_path  %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
