<div class="container", style="min-height: 80vh">

<h1>Add a new tool</h1>
<%= simple_form_for @tool do |f| %>
  <%= f.input :name %>
  <%= f.input :category, :collection => ['Manual DIY', 'Electrical DIY','Kitchen','Gardening'] %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, class: "btn btn-flat mb-4"%>
  <div>
    <%= link_to 'Back to all tools', tools_path  %>
  </div>
<% end %>


</div>


