<div class="screen">

<h1 class= "mb-5">Add a new tool</h1>
<div class="card profile-card" style="width: 65%; height: 100%; box-shadow: 0 0 15px rgba(0,0,0,0.2); padding-left: 50px; padding-right: 50px; padding-top: 50px">
  <%= simple_form_for @tool do |f| %>
    <%= f.input :name %>
    <%= f.input :category, :collection => ['Manual DIY', 'Electrical DIY','Kitchen','Gardening'] %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :photo, as: :file %>
    <div class="text-center mt-5">
      <%= f.button :submit, class: "btn btn-flat mb-4"%>
    </div>
  <% end %>
</div>

  <div class="m-5">
    <%= link_to 'Back to all tools', tools_path  %>
  </div>
</div>
