<div class="container">

<h1>Add a new tool</h1>
<%= simple_form_for @tool do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.button :submit, class: "btn btn-flat mb-4"%>
<% end %>

<%= link_to 'back to all tools', tools_path  %>

</div>


