<div class="container">

<h1>Add a new tool</h1>
<%= simple_form_for @tool do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.button :submit, class: "btn btn-flat mb-4"%>
  <div class="btn btn-flat mb-4 btn-tool">
    <%= link_to 'Back to all tools', tools_path  %>
  </div>
<% end %>


</div>


