<div class="screen">
  <h2 class="mb-5"> <%= @tool.name %> </h2>

  <div class="row justify-content-between mb-5" >
    <div class="card p-2 text-center m-2" style="width: 30%; height: 350px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
      <% if false %>
        <%= image_tag @tool.photo.key, height: 200, crop: :fit %>
        <% else %>
        <img src="https://images.unsplash.com/photo-1566937169390-7be4c63b8a0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="tool" width="500">
      <% end %>
      <div class="card-body">
        <p> Category: <%= @tool.category %> </p>
        <% if current_user  %>
        <p> by <%= @tool.user.first_name %> <%= @tool.user.last_name %></p>
        <p> Description: <%= @tool.description %> </p>
        <% end %>
      </div>
    </div>

    <div class="container card m-2 p-5" style="width: 65%; height: 350px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
      <%= simple_form_for ([@tool, @booking]) do |f| %>
        <%= f.input :start_date, as: :date %>
        <%= f.input :end_date, as: :date %>
        <div class="text-center">
          <%= f.submit class: "btn btn-tool mb-5 mt-5"  %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="map"
      style="width: 100%; height: 350px; box-shadow: 0 0 15px rgba(0,0,0,0.2);"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  <div class="text-center m-5"><%= link_to 'Back to all tools', tools_path, class: "btn btn-tool" %> </div>

</div>
