<div class="container">
  <h1>Book <%= @tool.name %> </h1>
  <%= simple_form_for ([@tool, @booking]) do |f| %>
    <%= f.input :start_date, as: :date %>
    <%= f.input :end_date, as: :date %>
    <%= f.submit %>
  <% end %>
</div>
