<div class="container" style="min-height: 80vh; padding-top: 80px">
  <h1 class="text-center mb-5">your tools are ready to be borrowed</h1>

  <div class="text-center profile-card mb-5" style="display: flex; padding-left: 50px; padding-right: 50px; padding-top: 50px; padding-bottom: 20px">
    <div style="width: 50%; height: 300px;">
        <% if false %>
          <%= image_tag @booking.tool.photo.key, height: 200, crop: :fill %>
          <% else %>
          <img src="https://images.unsplash.com/photo-1566937169390-7be4c63b8a0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="tool" width="500">
        <% end %>
    </div>
    <div style="width: 50%; height: 300px;">
        <p> Tool: <%= @booking.tool.name %> </p>
        <p> Category: <%= @booking.tool.category %> </p>
        <% if current_user  %>
          <p> by <%= @booking.tool.user.first_name %> <%= @booking.tool.user.last_name %></p>
        <% end %>
        <p> Description: <%= @booking.tool.description %> </p>
        <p> Start date: <%= @booking.start_date %> </p>
      <p> End date: <%= @booking.end_date %></p>
    </div>
  </div>
  <div class="row" style="display: flex;">
    <div class="container card m-2 p-5 text-center" style="width: 45%; height: 100%; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
     <h2 class="pb-4">What other people say about </br> <%= @booking.tool.name %></h2>
      <% if @booking.reviews.empty? %>
        <p>Be the first to leave a review</p>
        <% else %>
          <ul class="list-group">
            <% @booking.reviews.each do |review| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= review.content %>
                <span class="badge badge-primary badge-pill">
                  <% counter = 0 %>
                  <% 5.times do %>
                    <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                    <% counter += 1 %>
                  <% end %>
                </span>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

    <div class="container card m-2 p-5" style="width: 45%; height: 100%; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
       <h2 class="pb-4  text-center"> Share your opinion with others </h2>
        <%= simple_form_for ([@booking, @review]) do |f| %>
          <%= f.input :content, as: :text %>
          <%= f.input :rating, as: :integer%>
          <div class="text-center">
            <%= f.submit class: "btn btn-tool mt-5"  %>
          </div>
        <% end %>
      </div>

  </div>
</div>

