
<div class="container" style="min-height: 80vh; padding-top: 80px">
  <div class="card text-center profile-card mt-5 p-4" style="width: 20rem">
    <%= simple_form_for @user do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn btn-flat mb-4"%>
    <% end %>
  </div>
  <div class="text-center pt-5">
    <%= link_to 'back to profile', user_path(@user) %>
  </div>
</div>
